[Unit]
Description=Refresh Koha Expert Discovery Index

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
